@import "trans-rights";

$trans-rights: (
  "page": ( // For big transitions of the entire page
    "duration": 1s, 
    "ease": $ease-in-out-quad
  ),
  "delayed": ( // For delayed secondary motion within page transitions
    "duration": 0.5s, 
    "ease": $ease-out-quad,
    "delay": 0.5s,
  ),
  "in": ( // For elements that transition into the page
    "duration": 0.5s, 
    "ease": $ease-out-cubic,
  ),
  "ui": ( // For UI state transitions
    "duration": 0.2s, 
    "ease": $ease-in-out-cubic,
  ),
);

// Sub-Chaining Example
.example {
  @include trans($rights: "ui", $props: color, 
    $sub: trans($rights: "in", $props: transform, 
    $sub: trans($rights: "in", $props: top left)));
}